<mat-tab-group>
    <mat-tab label="Tab 1">
            <ng-template mat-tab-label>
                    Login
            </ng-template>
        <form (ngSubmit)="onSubmit()">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" >
            </mat-form-field><br/>
            <mat-form-field class="example-full-width">
                <input matInput type ="password" placeholder="Password">
            </mat-form-field><br/>
            <button  mat-raised-button color="primary" type="submit">Submit</button>
        </form>
    </mat-tab>
    <mat-tab label="Tab 2">
            <ng-template mat-tab-label>
                    Register
            </ng-template>
            <app-registerform></app-registerform>
    </mat-tab>
  </mat-tab-group>
    
    